@using ECommerce.Models
@{
}

@model Produto

<div class="" style="margin-right:10px">

    <div style="text-align:center">
        @Model.Nome <br>
    </div>

    <div style="text-align:center">

        <img src="~/Imagens/@Model.Imagem" alt="Imagem do Produto" style="width:300px; height:300px" />
        @Model.Descricao <br>

        @Model.Preco <br>
        @Model.Categoria.Nome

        @Html.ActionLink("Adicionar ao Carrinho", "AdicionarAoCarrinho", "ProdutoHome", new { produtoID = Model.ProdutoID }, new { @class = "btn btn-success" })
    </div>
</div>