
@{
    Layout ="~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar Produto</title>
</head>
<body>

    <h1>Cadastrar Produto</h1>

    @using (Html.BeginForm())
    {
        <fieldset>

            @Html.Label("Nome do Produto: ", "Nome do Produto", new { @class = "form-group" })
            @Html.TextBox("txtNome", null , new { @class = "form-control" })<br>

            @Html.Label("Descricao do Produto: ", "Descricao do Produto", new { @class = "form-group" })
            @Html.TextBox("txtDescricao", null, new { @class = "form-control" })<br>

            @Html.Label("Preco do Produto: ", "Preco do Produto", new { @class = "form-group" })
            @Html.TextBox("txtPreco", null, new { @class = "form-control" })<br>

            @Html.Label("Categoria do Produto: ", "Categoria do Produto", new { @class = "form-group" })
            @Html.TextBox("txtCategoria", null, new { @class = "form-control" })<br>


            <input type="submit" value="Cadastrar" />

        </fieldset>
    }

</body>
</html>
