@{ 
}

@using ECommerce.Models
@model List<Produto>

<div>    
    <h1>Gerenciamento de Produtos</h1>

    <table class="table table-hover table-striped" style="margin-top:30px">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Produto produto in Model)
            {
                <tr class="table-active">
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>R$ @produto.Preco</td>
                    <td>@produto.Categoria</td>

                    <td>@Html.ActionLink("Remover", "Remover", "Produto", new { id = produto.ProdutoID }, new {@class = "btn btn-danger"})</td>
                    <td>@Html.ActionLink("Alterar", "Alterar", "Produto", new { id = produto.ProdutoID }, new { @class = "btn btn-warning" })</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Dados atualizados às: <b>@DateTime.Now</b></p>

</div>
