<!DOCTYPE html>

@using ECommerce.DAL

@{ 
    ItemVendaDAO itemVendaDAO = new ItemVendaDAO();
    int? TotalItensCarrinho = itemVendaDAO.RetornarQuantidade();
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("ECommerce", "Index", "ProdutoHome", null, new { @class = "navbar-brand" })

        @Html.ActionLink("Gerenciar Produtos", "Index", "Produto", null, new { @class = "nav-link" })
        @Html.ActionLink("Gerenciar Categorias", "Index", "Categoria", null, new { @class = "nav-link" })

        @Html.ActionLink("Meu Carrinho" + "(" + @TotalItensCarrinho + ")", "CarrinhoCompras", "ProdutoHome", null, new { @class = "nav-link" })
    </nav>


    <div style="text-align:center">
        @RenderBody()
    </div>

    <hr style="margin-top:30px" />
    <footer style="text-align:center">
        <p>&copy; @DateTime.Now.Year - Desenvolvido por Jefferson dos Santos</p>
    </footer>

</body>
</html>
